@import url("principal.css");

/*
universal
etiqueta -> h1, img,p input
id -> unico en el archivo -> archivo id
class -> agrupar elementos y les pongo una class
*/

* {
    background-color:  aquamarine;
}

h1 {
    color: red;
    font-size: 80px;
}


#parrafo2 {
    color: purple;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.grupo1 {
    color: yellow;
    font-size: 30px;
}

input {
    background-color: orange;
}

input[type = "password"]{
    border-color: greenyellow;
}

[class*="grupo"] {
    background-color: blueviolet;
}

#section p {
    font-weight: bold;
    font-size: 20px;
}


#section > p{
    color: blue;
}

#hijo11 h2+p{
    color: red;
}

#hijo2 h2~p{
    color: yellowgreen;
}

#banner {
    width: 200px;
    height: auto;
    border: 5px solid violet;
    padding: 0px;
    margin: 30px;
}

.cuadrado {
    width: 100px;

    background-color: gold;
    margin: 10px;
}

#contenedor {
    background-color: aqua;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
